<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AppCenter" version="2.6.4" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="2.6.4" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="2.6.4" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Distribute" version="2.6.4" targetFramework="xamarinios10" />
  <package id="modernhttpclient-updated" version="2.6.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="5.0.0-beta" targetFramework="xamarinios10" />
  <package id="Refractored.MvvmHelpers" version="1.6.1-beta" targetFramework="xamarinios10" />
  <package id="Rg.Plugins.Popup" version="1.1.5.188" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.11" targetFramework="xamarinios10" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.4.0.991640" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile" version="2.4.1" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile.Forms" version="2.4.1" targetFramework="xamarinios10" />
</packages>